name: HelmExample

on:
  push:
    branches: [ "main", "backend" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  package-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: helm lint hello-helm
      - shell: bash
        run: helm package hello-helm
      - name: Upload Chart
        uses: actions/upload-artifact@v3
        with:
          name: hello-helm
          path: hello-helm-0.1.0.tgz
  test-chart:
    needs: [package-chart]
    runs-on: ubuntu-latest
    steps:
      - name: Download Chart
        uses: actions/download-artifact@v3
        with:
          name: hello-helm
      - name: deploy postgres to cluster
        uses: wahyd4/kubectl-helm-action@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: |
            helm install mein-hello-helm hello-helm
            helm test mein-hello-helm
        
