name: HelmExample

on:
  push:
    branches: [ "main", "backend" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  package-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: helm lint hello-helm
      - shell: bash
        run: helm package hello-helm
      - name: Upload Chart
        uses: actions/upload-artifact@v3
        with:
          name: hello-helm
          path: hello-helm-0.1.0.tgz
  test-chart:
    needs: [package-chart]
    runs-on: ubuntu-latest
    steps:
      - name: Download Chart
        uses: actions/download-artifact@v3
        with:
          name: hello-helm
      - name: Create kube config
        run: |
          mkdir -p $HOME/.kube/
          echo "${{ secrets.KUBE_CONFIG_DATA }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      - shell: bash
        run: helm install mein-hello-helm hello-helm
      - shell: bash
        run: helm test mein-hello-helm        
